* {
    background-color: black;
    color: white;
    font-size: 1.1em;
}

@font-face {
    font-family: 'TopSecretBold';
    src: url('/fonts/topSecret/top_secret-webfont.eot');
    src: url('top_secret-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/topSecret/top_secret-webfont.woff') format('woff'),
         url('/fonts/topSecret/top_secret-webfont.ttf') format('truetype'),
         url('/fonts/topSecret/top_secret-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body 
{
    height: 100%;
    width: 1000px;
    margin: 0 auto;
}

header {
    border: 0px;
    width: 900px;
    height: 300px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: green;
    display: inline;
}

a:hover {
    text-decoration: line-through;
    color: greenyellow;
}

article {
    width: 800px;
    background-color: rgba(255, 0, 0, 0.03);
    height: 65%;
}

article #content {
    font-family: 'TopSecretBold';
}

aside {
    width: 185px;
    background-color: rgba(255, 0, 0, 0.03);
}

#menu {
    margin: 0 auto;
    text-align: center;
}

footer {
    margin: 25px;
    padding: 15px;
    background-color: rgba(255,0,0,0.3);
    border-radius: 15px;
    text-align: center;
    text-justify: initial;
    text-height: auto;
}